body{
    margin: 0;
}

.top-container {
    background-image: url("https://images.unsplash.com/photo-1663789669038-ba180c8c155a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3628&q=80");
    height: 60vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

.top-container h1{
    color: rgb(253, 253, 253);
    font-size: 20px;
    font-family: helvetica;
    letter-spacing: 5px;
}

.text{
    margin: 50px 5%;
    font-family: helvetica;
    letter-spacing: 1px;
    line-height: 25px;
}

#logo{
    height: 50px;
}

.navbar{
    display: flex;
    position: fixed;
    background-color: white;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
    transition: background-color 0.4s;
}

.navbar ul{
    display: flex;
    list-style-type: none;
}

.navbar ul li a{
    text-decoration: none;
    margin: 0 10px;
    color: rgb(13, 13, 13);
    font-family: helvetica;
    letter-spacing: 3px;;
    font-size: 10px;
}

.navbar ul li a:hover{
    color: orangered;
    transition: 0.4s;
}

.navbar.active{
    background-color: rgb(20, 20, 20);
}

.navbar.active ul li a {
    color: white;
}

